# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        33
        99
        104
        105
        115
        101
        108
        37
        51
        65
        99
        111
        98
        98
        108
        101
        115
        116
        111
        110
        101
        50
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        48
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        103
        120
        -38
        99
        98
        22
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        72
        -50
        -56
        44
        78
        -51
        1
        114
        -109
        -13
        -109
        -110
        114
        82
        -117
        75
        -14
        -13
        82
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        13
        25
        20
        -79
        -87
        48
        66
        82
        98
        -64
        -64
        112
        -125
        125
        21
        16
        48
        -124
        -122
        50
        96
        -59
        68
        -128
        -31
        -96
        63
        20
        7
        24
        72
        -3
        12
        68
        -126
        81
        -3
        -108
        -21
        39
        55
        -19
        12
        102
        -3
        0
        110
        8
        -98
        -22
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        33
        99
        104
        105
        115
        101
        108
        37
        51
        65
        99
        111
        98
        98
        108
        101
        115
        116
        111
        110
        101
        50
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        48
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        75
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        76
        -50
        -56
        44
        78
        -51
        1
        114
        -109
        -13
        -109
        -110
        114
        82
        -117
        75
        -14
        -13
        82
        -115
        -20
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        13
        24
        24
        26
        88
        -8
        63
        12
        44
        -4
        63
        -62
        -63
        64
        -121
        63
        0
        -23
        108
        -111
        98
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


